body {
    font-family: sans-serif;
}

header {
    text-align: center;
    padding: 20px;
}

h1 {
    font-weight: bolder;
}

main {
    text-align: center;
}

ul {
    list-style-type: none;

}

.btn {
    border: none;
    background-color: red;
    border-radius: 25px;
    font-size: 22px;
    margin: 15px 15px 15px 20px;
    padding: 20px 20px;
    color: white;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}