/*  */
::selection {
    color: white;
    background: darkblue;
}

body {
    font-family: sans-serif;
}

.loading-page {
    text-align: center;
    padding: 20px;
    background: #82250c;
    color: white;
}

h1 {
    font-weight: bolder;
}

p {
    padding: 20px;
}

main {
    text-align: center;
}

.title {
    float: left;
}

.timer {
    float: right;
}

button {
    border: none;
    background-color: #82250c;
    border-radius: 25px;
    font-size: 22px;
    margin: 15px 15px 15px 20px;
    padding: 20px 20px;
    color: white;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}