/*  */
*{
    margin: 10px;
    font-family: 'Nunito Sans', sans-serif;
}
::selection {
    color: white;
    background: rgba(93, 93, 206, 0.616);
}

:root {
    --redlook: #82250c;
}

button {
    outline: 0;
}

.main-button {
    border: none;
    background-color: var(--redlook);
    border-radius: 25px;
    font-size: 15px;
    margin: 15px 15px 15px 20px;
    padding: 10px 10px;
    color: white;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}

.loading-page header {
    padding: 10px;
    background: var(--redlook);
    color: white;
}

.loading-page {
    text-align: center;
}

h1 {
    font-weight: 800;
    padding: 10px;
}

h2 {
    font-weight: 800;
}

.quiz-main {
    transition: all 0.3s ease;
}

.question-title {
    font-weight: 800;
    font-size: 20px;
    margin: 20px;
}

.quiz-box li {
    list-style-type: none;
}

.quiz-main header {
    position: relative;
    background: var(--redlook);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.options-list {
    padding: 10px;
    display: block;
    background:white;
    font-family: 'Nunito Sans';
    margin-bottom: 15px;
    font-size: 17px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.answer-check {
    margin-left: 20px;
}

.options-list:hover {
    color: white;
    background: var(--redlook);
}

.results-box,
.highscore-box {
    text-align: center;
    list-style-type: none;
}

.results-box img {
    height: 100px;
}

.result-buttons {
    display: inline-flex;
}

.list-highscores {
    display: block;
}

.times-up {
    display: none;
}

.quiz-main,
.results-box,
.highscore-box {
    display: none;
}
